body{
    background-color: #281d1b;
    color: black;
}
header{
    background-color: #1a4963;
    color: lightblue;
    border: 5px groove navy;
    justify-content: center;
}
nav{
    padding-top: 0.8em;
    text-align: center;
    display: flex;
    justify-content: space-around;
} 
header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:auto auto;
}
header li{
    padding: 10px;
    margin-right: 1.5vw;
    background-color: #feea97;
    border: 2px outset #8e1a1a;
    list-style: none;
    vertical-align: middle;
    font-family: 'Lato', sans-serif; 
}
.book-container {
    border-color: red solid 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 450px;

}
article{
    border: salmon solid 2px;
    padding: 20px;
    width: 400px;
    height: 500px;
    background-image: url("https://freepngimg.com/thumb/scroll/1-2-scroll-png-file.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
#Sci-fi, #Romance, #Non-fiction, #Fantasy, #Adventure, #Poetry, #Other {
    border: solid greenyellow 2px;
    width: 390px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.book-background{
    border: skyblue 2px solid;
    margin: 10px;
    padding: 15px;
    background-image: url("../img/15171-illustration-of-a-spiral-notebook-pv.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width:100px;
    height: 130px;
}
h2{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    font-weight: bold;
}