/* Headers : 
font-family: 'Dancing Script', cursive; */
/* all other font:
font-family: 'Lato', sans-serif; */



.book {
  background: #281d1b url("/img/Blank_book.png") no-repeat center;
  display: grid;
  width: 80vw;
  height: 80vh;
  margin: auto;
  margin-top: 1em;
  grid-column: 1/3;
  grid-row: 2/4;
  grid-template-columns: repeat(4, 20vw);
  grid-template-rows: 15vh 70vh 10vh;
}

.formContainer {
  font-family: 'Dancing Script', cursive;
  font-size: 1.2em;
  font-weight: bold;
  grid-column: 3/4;
  grid-row:-2/-3;
  display: flex;
  flex-direction: column;
  padding-left: 6em;
  padding-top: 4em;
}

.instructions {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  font-weight:bold;
  padding-right: 2em;
  padding-top: 3em;
  grid-column: 2/3;
  grid-row: 2/3;
}


body{
  background-color: #281d1b;
  color: black;
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: 12vh 70vh 10vh;
}

main {
  width: 100% !important;
}

header{
  background-color: #1a4963;
  color: lightblue;
  border: 5px groove navy;
  justify-content: center;
  display: flex;
  grid-column: 1/3;
  grid-row: 1/2;
  margin-left: 7vw;
  margin-right: 7vw;
}
nav{
  padding-top: 0.8em;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

header ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin:auto auto;
}

header li{
  padding: 10px;
  margin-right: 1.5vw;
  background-color: #feea97;
  border: 2px outset #8e1a1a;
  list-style: none;
  vertical-align: middle;
  font-family: 'Lato', sans-serif; 
}

h1{
  margin-left: 1em;
  margin-right: 1.5em;
  font-family: 'Dancing Script', cursive; 
  font-size: 3.2em;
  text-shadow: 3px 3px navy;
}

img{
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 1em;
  width: 100%;
  /* height: auto; */
}

fieldset {
  border: none;
}

fieldset{
  display: flex;
  flex-direction: column;
  margin: 0 20rem;
  border: none;
}

.book-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #996633;
  border-radius: 10px;
  justify-content: space-evenly;
}

.book-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid whitesmoke 2px;
  width: 300px;
  margin: 1rem;
}

.book-background ul {
  list-style-type: none;
  margin-right: 1.2rem;
}
