/* Headers : 
font-family: 'Dancing Script', cursive; */
/* all other font:
font-family: 'Lato', sans-serif; */

.book {
  background: #281d1b url("/img/Blank_book.png") no-repeat center;
  display: grid;
  width: 80vw;
  height: 80vh;
  margin: auto;
  margin-top: 1rem;
  grid-column: 1/4;
  grid-row: 2/4;
  grid-template-columns: 17vw 10vw 10vw 24vw ;
  grid-template-rows: 15vh 70vh 10vh;
  border-radius: 5px;
}

.formContainer {
  font-family: 'Dancing Script', cursive;
  font-size: 1.2em;
  font-weight: bold;
  grid-column: 4/4;
  grid-row:-2/-3;
  display: flex;
  flex-direction: column;
  padding-top: 4em;
  padding-left: 10em;
  height: 100vh;
}

.instructions {
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
  font-weight:bold;
  padding-right: 2em;
  padding-top: 3em;
  grid-column: 2/3;
  grid-row: 2/3;
}

body{
  background-color: #281d1b;
  color: black;
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: 12vh 70vh 10vh;
}

main {
  width: 100% !important;
}

header{
  background-color: #1a4963;
  color: lightblue;
  border: 5px groove navy;
  justify-content: center;
  display: flex;
  grid-column: 1/3;
  grid-row: 1/2;
  margin-left: 7vw;
  margin-right: 7vw;
}

nav{
  padding-top: 0.8em;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

header ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin:auto auto;
}

header li{
  padding: 10px;
  margin-right: 1.5vw;
  background-color: #feea97;
  border: 2px outset #8e1a1a;
  list-style: none;
  vertical-align: middle;
  font-family: 'Lato', sans-serif; 
}

h1{
  margin-left: 1em;
  margin-right: 1.5em;
  font-family: 'Dancing Script', cursive; 
  font-size: 3.2em;
  text-shadow: 3px 3px navy;
  white-space: nowrap;
}

img{
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 1em;
  width: 100%;
  /* height: auto; */
}

fieldset{
  display: flex;
  flex-direction: column;
  margin: 0 20rem;
  border: none;
}


.book-container h1 {
  color: white;
  font-size: 25px;
  
}

.book-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 1rem;
  background:
    url(../img/15171-illustration-of-a-spiral-notebook-pv.png) center no-repeat;
  background-size: 300px 250px;
  transition: transform .2s;
  color: lightgray;
  overflow:hidden;
}

.book-background ul {
  list-style-type: none;
  margin-right: 1.5rem;
}

.book-background:hover {
  transform: scale(1.1);
}

/* Book List Page */

.book-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #996633;
  border-radius: 10px;
  justify-content: space-evenly;
  font-family: 'Lato', sans-serif;
}

.book-container-title {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#list-main {
  grid-column: 1/3;
}

#load-book-list {
  border: none;
  height: 5vh;
  width: 30vw;
  background-color: #feea97;
  border: 2px outset #8e1a1a;
  border-radius: 10px;
}

#Sci-fi, #Romance, #Non-fiction, #Fantasy, #Adventure, #Poetry, #Other {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: solid black 2px;
}
